@layer A, B ,C;
@layer A {
  div {
    background-color: red;
    width:200px;
    height:200px;
  }
}

@layer B {
  #app {
    background-color: blue;
  }
}

@layer C {
  div {
    background-color: green;
  }
}
